{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Password change{% endblock %}
{% block page-header %}Password change{% endblock %}

{% block content %}
    <p>
        Please enter your old password, for security's sake, and then enter your new password twice
        so we can verify you typed it in correctly.
    </p>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form method="post" action="." class="form-horizontal" id="password-change-form">
                {% csrf_token %}
                {% if form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>{% endif %}
                {{ form|crispy }}
                <button role="button" type="submit" class="btn btn-default"/>Save</button>
            </form>
        </div>
    </div>
{% endblock %}
